<div class="form-container">
  <form [formGroup]="profile" (ngSubmit)="updateProfile()">

    <fieldset>

      <label for="name">
        Name
        <input type="text" id="name" name="name" formControlName="name" required>
        <pre *ngIf="name?.errors?.required && name.touched" class="error">Name is required</pre>
        <pre *ngIf="name?.errors?.hasWhitespaces"
          class="error">Cannot contain white spaces at the beginning or end of the string</pre>
        <pre *ngIf="!name?.errors?.required && name?.errors?.hasSpecialChars && name.touched"
          class="error">Cannot contain special characters</pre>
        <pre *ngIf="name?.errors?.minlength" class="error">Must be longer than 3 characters</pre>
        <pre *ngIf="name?.errors?.minlength" class="error">Must be shorter than 55 characters</pre>
      </label>

      <label for="surname">
        Surname
        <input type="text" id="surname" name="surname" formControlName="surname">
        <pre *ngIf="surname?.errors?.hasWhitespaces"
          class="error">Cannot contain white spaces at the beginning or end of the string</pre>
        <pre *ngIf="surname?.errors?.hasSpecialChars && surname.touched && surname.value != ''"
          class="error">Cannot contain special characters</pre>
        <pre *ngIf="surname?.errors?.minlength" class="error">Must be longer than 3 characters</pre>
        <pre *ngIf="surname?.errors?.minlength" class="error">Must be shorter than 55 characters</pre>
      </label>

      <label for="birthdate">
        Birthdate
        <input type="text" id="birthdate" name="birthdate" formControlName="birthdate" placeholder="DD/MM/YYYY">
        <pre *ngIf="birthdate?.errors?.isDate" class="error">Invalid date format (DD/MM/YYYY)</pre>
        <pre *ngIf="birthdate?.errors?.invalidDay" class="error">Invalid day number</pre>
        <pre *ngIf="birthdate?.errors?.invalidMonth" class="error">Invalid month number</pre>
      </label>

      <label for="phone">
        Phone
        <input type="text" id="phone" name="phone" formControlName="phone">
      </label>

      Nacionality
      <select id="nationality" class="form-control" formControlName="nationality" name="nationality">
        <option value="es">ES</option>
        <option value="fr">FR</option>
        <option value="it">IT</option>
        <option value="pt">PT</option>
      </select>
      <br />
      <pre *ngIf="nationality?.errors?.required" class="error">Pick a nationality</pre>

      <label for="nif">
        NIF
        <input type="text" id="nif" name="nif" formControlName="nif">
        <pre *ngIf="nif?.errors?.isNIF" class="error">Invalid NIF</pre>
      </label>

      <div>About me</div>
      <textarea rows="5" id="about" name="about" formControlName="about"></textarea>

      <label *ngIf="userType === 'company'" for="company_name">
        Company name
        <input type="text" id="company_name" name="company_name" formControlName="company_name" required>
        <pre *ngIf="company_name?.errors?.required && company_name.touched" class="error">Company name is required</pre>
        <pre *ngIf="company_name?.errors?.hasWhitespaces"
          class="error">Cannot contain white spaces at the beginning of the word</pre>
        <pre *ngIf="company_name?.errors?.minlength" class="error">Must be longer than 3 characters</pre>
        <pre *ngIf="company_name?.errors?.minlength" class="error">Must be shorter than 255 characters</pre>
      </label>

      <ng-container *ngIf="userType === 'company'">
        <div>Company description</div>
        <textarea rows="5" id="company_description" name="company_description"
          formControlName="company_description"></textarea>
      </ng-container>

      <label *ngIf="userType === 'company'" for="cif">
        CIF
        <input type="text" id="cif" name="cif" formControlName="cif" reqired>
        <pre *ngIf="cif?.errors?.required && cif.touched" class="error">Company name is required</pre>
      </label>

    </fieldset>

    <button type="submit" [disabled]="!profile.valid">Update profile</button>
  </form>
</div>

<app-education-list></app-education-list>
